   
.bg {
  background-color: rgba(15, 26, 47, 0.9);
  width: 100%;
  z-index: 0;
}

.gamePosition{
  margin-top: 50px;
}
.heading{
color:rgba(15, 26, 47, 0.9);
text-align: center;
}

.rules {
  background-color: rgba(15, 26, 47, 0.9);
  padding: 40px;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.25;
  text-align: left;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  /* z-index:36; */
  color: white;
}

.crystals {
  display: flex;
  align-items: left;
  flex-wrap: wrap;
  background-color: rgba(15, 26, 47, 0.9);
  padding: 40px;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.25;
  text-align: left;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  /* z-index:36; */
  color: white;
}

.counters {
  background-color: rgba(15, 26, 47, 0.9);
  padding: 40px;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.25;
  text-align: left;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 100px;
  /* z-index:36; */
  color: white;
}